@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 - Forbbiden access</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/simple-sidebar.css" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/simple-sidebar.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="hep-logo">
                <a href="@_configuration["AvHome"]"><img src="~/images/logo.png" /></a>
            </div>

        </div>
        <!-- /#sidebar-wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="home-top-bar row">
                    <div class="user_bar pull-right">
                        <span style="padding-left:30px;">
                            <a href="@_configuration["MKPLink"]"  target="_blank"><span style="margin-left:-20px; text-decoration:none" class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Marketplace</a>

                        </span>
                        <span style="padding-left:30px;">
                            <a asp-area="" asp-controller="Home" asp-action="Logout"><span style="margin-left:-20px;" class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Odjava</a>
                        </span>

                    </div>
                    <div class="lang_select pull-right">
                        <ul>
                            <li><a id="hr" href="#"><img src="~/images/hr.png" /></a></li>
                            <li><a id="en" href="#"><img src="~/images/us.png" /></a></li>

                        </ul>
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <center>


                            <h1 class="display-4" style="font-size:180px;color:#0679ae; margin-top: 80px"> 403</h1>
                            <p class="lead" style="font-size:60px;color:#333; margin-top: 10px">Forbbidden access</p>
                            <a href="@_configuration["AvHome"]"><img src="~/images/logo.png" /></a>
                        </center>


                    </div>

                </div>

            </div>
        </div>


        <footer>
            <div class="col-sm-12" style="text-align: center;margin-left: -100px;">
                COPYRIGHT © 2000 - 2019 HEP-Telekomunikacije d.o.o.. SVA PRAVA PRIDRŽANA //
            </div>
        </footer>

    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>

</html>

